<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luck.mapper.AwardsMapper">

    <insert id="batchInsert">
        insert into luck_awards(id,pk_id,stock,cnt,awards_name)  values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (#{item.id},#{item.pkId},#{item.stock},#{item.cnt},#{item.awards_name})
        </foreach>

    </insert>
    <update id="updateStock">
        update luck_awards set stock = stock+#{count}
            where stock>0
    </update>
</mapper>
