<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luck.mapper.PayKnowledgeMapper">

    <select id="getKnowLedgeList" resultType="com.luck.domain.resp.GetKnowLedgeDetailResp">
        select * from luck_pay_knowledge where name like CONCAT('%',#{key},'%')
    </select>
</mapper>
